/* Root variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 50%);
  --section-padding: 100px;
}
/*============================================================================================*/
/*Start of global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End of global styles */
/*============================================================================================*/
/* Start Component */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 2px;
  width: 120px;
  background-color: #1f2021;
  bottom: -20px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translate(-50%);
  border: 1px solid #1f2021;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 50px;
  max-width: 100%;
  line-height: 1.6;
  color: #777;
}
/* End Component */
/*============================================================================================*/
/* Start Header */
header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 40px);
  left: 20px;
  z-index: -1;
}
header .container .logo {
  height: 80px;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
  }
  header .container nav ul li a {
    padding: 15px !important;
  }
}
header .container nav ul li a {
  display: block;
  color: white;
  font-size: 14px;
  transition: 0.3s;
  padding: 40px 10px;
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: solid 1px var(--main-color);
}
header .container nav .form {
  height: 30px;
  position: relative;
  margin-left: 30px;
  width: 40px;
  right: 0;
  color: #a2a2a2;
  border-left: solid 1px #a2a2a2;
}
@media (max-width: 767px) {
  header .container nav .form {
    margin-left: 10px;
  }
}
header .container nav .form i {
  color: #a2a2a2;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translatey(-50%);
  right: 0;
}
header .container nav li.toggle-menu {
  color: #a2a2a2;
  font-size: 22px;
  display: none;
}
@media (max-width: 767px) {
  header .container nav li.toggle-menu {
    display: block;
  }
}
/* End Header */
/*============================================================================================*/
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../img/owl.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 20%);
}

.landing .text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  background-color: var(--transparent-color);
  width: 50%;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 30px;
  font-weight: normal;
}
.landing .text .content p {
  line-height: 1.6;
  font-size: 14px;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
  bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
/*============================================================================================*/
/* Start Service */
.service {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .service .container .service-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 50px;
  }
}
.service .container .service-container .service-content {
  display: flex;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .service .container .service-container .service-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.service .container .service-container .service-content i {
  font-size: 30px;
  margin-top: 20px;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .service .container .service-container .service-content i {
    margin-left: 40px;
  }
}

.service .container .service-container .service-content .text h2 {
  color: var(--main-color);
  margin-bottom: 30px;
  font-weight: normal;
}
.service .container .service-container .service-content .text p {
  line-height: 1.6;
  color: #777;
  width: 100%;
}

/* End Service */
/*============================================================================================*/
/*Start Design*/
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../img/design.jpg);
  background-color: #1f2021;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: flex;
  max-height: 70vh;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 767px) {
  .design {
    flex-direction: column;
    max-height: 200vh;
  }
}
.design::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
}
.design .image img {
  position: relative;
  height: 500px;
  bottom: -30px;
}
@media (max-width: 767px) {
  .design .image img {
    height: 600px;
  }
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
}
.design .text h2 {
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.design .text ul li {
  line-height: 2;
}
.design .text ul li i {
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

/*End Design*/
/*============================================================================================*/
/* Start Protofolio */
.protofolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.protofolio .container .btn {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.protofolio .container .btn a {
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
}
.protofolio .container .btn a.active {
  background-color: var(--main-color);
  color: white;
}
.protofolio .img-container {
  display: flex;
  flex-wrap: wrap;
}
.protofolio .img-container .img-box {
  position: relative;
  overflow: hidden;
}
.protofolio .img-container .img-box:hover .caption {
  bottom: 0;
}
.protofolio .img-container .img-box:hover img {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .protofolio .img-container .img-box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .protofolio .img-container .img-box {
    flex-basis: 25%;
  }
}
.protofolio .img-container .img-box img {
  max-width: 100%;
  transition: 0.3s;
}
.protofolio .img-container .img-box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100px;
}
.protofolio .img-container .img-box .caption h4 {
  margin-bottom: 10px;
  font-weight: normal;
}
.protofolio .img-container .img-box .caption p {
  color: var(--main-color);
}
.protofolio .more {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-transform: uppercase;
  transition: 0.3s;
}
.protofolio .more:hover {
  transform: scale(1.1);
  background-color: var(--transparent-color);
}
/* End Protofolio */
/*============================================================================================*/
/* Start section*/
.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../img/4.jpg);
  background-color: #1f2021;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  max-height: 50vh;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 767px) {
  .section {
    flex-direction: column;
    max-height: 200vh;
  }
}
.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.section .text {
  position: relative;
  z-index: 2;
  flex: 1;
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
}
.section .text h2 {
  font-size: 26px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.section .more {
  background-color: black;
  color: white;
  padding: 5px 20px;
  display: block;
  width: fit-content;
  margin: 10px auto;
  text-transform: uppercase;
  transition: 0.3s;
}
.section .more:hover {
  transform: scale(1.1);
  background-color: var(--transparent-color);
}
/* End section*/
/*============================================================================================*/
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 130vh;
  overflow: hidden;
}
.about .container .image {
  display: flex;
  justify-content: center;
}

.about .container .image img {
  height: 900px;
  margin-top: -150px;
}
@media (max-width: 767px) {
  .about {
    height: 100vh;
  }
  .about .container .image img {
    height: 500px;
    margin-top: -100px;
  }
}
/* End About */
/*============================================================================================*/
/* Start Number */
.number {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../img/5.jpg);
  background-color: #1f2021;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  max-height: 100vh;
}
@media (max-width: 767px) {
  .number {
    max-height: 200vh;
  }
}
.number::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.number .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.number .container .item {
  position: relative;
  background-color: var(--transparent-color);
  color: white;
  padding: 50px;
  z-index: 2;
  flex: 1;
  text-align: center;
}
@media (max-width: 767px) {
  .number .container .item {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .number .container .item {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .number .container .item {
    flex-basis: 25%;
  }
}
.number .item i {
  background-color: #1f2021;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 32px;
  padding: auto;
}
.number .item h1 {
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.number .item h6 {
  font-weight: normal;
  font-size: 15px;
}
/* End Number */
/*============================================================================================*/
/* Start Face */
.face {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.face .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.face .container > div {
}
@media (min-width: 992px) {
  .face .container > div {
    flex-basis: 45%;
  }
}
/* End Face */
/*============================================================================================*/
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  gap: 40px;
}
@media (max-width: 767px) {
  .contact .container {
    grid-template-columns: 1fr;
    align-items: center;
  }
}
.contact .container .form-content form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact .container .form-content form input,
.contact .container .form-content form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}
.contact .container .form-content form input:focus,
.contact .container .form-content form textarea:focus {
  border-color: #00aaff;
}

.contact .container .form-content form textarea {
  height: 180px;
  resize: none;
}

.contact .container .form-content form input:last-of-type {
  background-color: var(--main-color);
  color: white;
  padding: 14px 0;
  font-size: 15px;
  border: none;
  cursor: pointer;
  width: 180px;
  align-self: flex-end;
  transition: 0.3s;
}

.contact .container .form-content form input:last-of-type:hover {
  background-color: var(--transparent-color);
}

.contact .container .contact-info {
  color: #555;
  font-size: 15px;
}
@media (max-width: 767px) {
  .contact .container .contact-info {
    text-align: center;
  }
}

.contact .container .contact-info .info-block {
  margin-bottom: 40px;
}

.contact .container .contact-info .info-block h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  letter-spacing: 1px;
}
/* End Contact */
/*============================================================================================*/
/* Start Footer*/
footer {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../img/owl.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-height: 100vh;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .container .social {
  color: white;
  text-align: center;
}
footer .container .social h1::after {
  content: "";
  border: 2px solid white;
  display: block;
}
footer .container .social ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
}
footer .container .social ul li i {
  font-size: 20px;
}
footer .container .social ul li i:hover {
  color: var(--main-color);
}
footer .container .social span {
  color: var(--main-color);
}
/* End Footer*/
/* End Styling */
